extends layout 

block content 

    h1 #{title}
    
    form(method='POST')
        div.form-group
            label(for='firstName') First Name: 
            input#firstName.form-control(type='text', name='firstName', required value=(undefined===user ? '' : user.firstName) )
        div.form-group
            label(for='lastName') Last Name: 
            input#lastName.form-control(type='text', name='lastName', required value=(undefined===user ? '' : user.lastName) )
        div.form-group
            label(for='username') Username: 
            input#username.form-control(type='text', name='username', required)
        div.form-group
            label(for='password') Password: 
            input#password.form-control(type='text', name='password', required)
        button.btn.btn-primary(type='submit') Submit 

    if errors 
        ul 
            for error in errors 
                li!= error.msg